@import "tailwindcss";

.line-left::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #f59e0b;
  margin-right: 10px;
  vertical-align: middle;
}

 .scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
 .scrollbar-hide::-webkit-scrollbar {
   display: none;
 }

